<template>
  <div class="markdown-body pill" v-if="frontmatter.tags">
    <ul v-for="tag in frontmatter.tags" :key="tag.key">
      <li>{{ tag }}</li>
    </ul>
  </div>
  <div class="markdown-body" id="parsed-md" v-html="parsedMd"></div>
</template>
<script>
import json from '/data.json';

import FrontMatter from 'front-matter';

export default {
  name: 'Article',
  components: {},
  props: ['id'],
  // inject: ["$mdFiles"],
  data() {
    return {
      parsedMd: '',
      data: json,
      frontmatter: '',
    };
  },

  async created() {
    // unpack javascript proxy - https://stackoverflow.com/questions/51096547/how-to-get-the-target-of-a-javascript-proxy
    const unpackProxy = JSON.parse(JSON.stringify(this.data));
    // console.debug(unpackProxy);
    const id = this.$route.params.id;
    //console.debug(id);

    // Find url of data item with given id
    const md_url = unpackProxy.find(function (x) {
      if (x.id == id) return x;
    }).md_url;
    //console.debug(md_url);

    // fetch markdown file - https://jasonwatmore.com/post/2020/04/30/vue-fetch-http-get-request-examples
    const headers = {
      mode: 'cors',
      origin:
        'https://pba-wu-modern-frontend-2022.gitlab.io/modern-frontend-2022/',
      'Content-Type': 'text/plain; charset=UTF-8',
      'access-control-allow-origin': '*',
    };

    await fetch(md_url, { headers })
      .then((response) => response.text())
      .then(
        (result) => (
          (this.parsedMd = this.md(FrontMatter(result).body)),
          (this.frontmatter = FrontMatter(result).attributes)
        )
      );
  },
};
</script>
