<template>
  <div class="cards">
    <Card
      v-for="item in data"
      :key="item.id"
      :title="item.header"
      :description="item.description"
      :id="item.id"
    />
  </div>
</template>

<script>
import Card from '@/components/Card.vue';
import json from '/data.json';

export default {
  name: 'CardView',
  components: {
    Card,
  },
  data() {
    return {
      data: json,
    };
  },
};
</script>
