<template>
  <div class="card">
    <router-link
      :to="{
        name: 'Article',
        params: { id: id },
      }"
    >
      <h1 class="card-header">{{ title }}</h1>
      <p class="card-description">{{ description }}</p>
      <div class="icon-container">
        <ul class="iconlist">
          <li>
            <div class="icon-holder">
              <div class="icon">
                <i class="icofont-file-pdf icofont-1x"></i>
              </div>
            </div>
          </li>

          <li>
            <div class="icon-holder">
              <div class="icon">
                <i class="icofont-tasks icofont-1x"></i>
              </div>
            </div>
          </li>

          <li>
            <div class="icon-holder">
              <div class="icon">
                <i class="icofont-link icofont-1x"></i>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </router-link>
  </div>
</template>

<script>
export default {
  name: 'Card',
  props: {
    title: String,
    description: String,
    id: Number,
  },
};
</script>
