<template>
  <div class="menu-item" @click="isOpen = !isOpen">
    <a href="#" class="menu-header">
      {{ title }}
    </a>

    <svg viewBox="0 0 1030 638" width="10">
      <path
        d="M1017 68L541 626q-11 12-26 12t-26-12L13 68Q-3 49 6 24.5T39 0h952q24 0 33 24.5t-7 43.5z"
        fill="#FFF"
      ></path>
    </svg>
    <transition name="fade" apear>
      <div class="sub-menu" v-if="isOpen">
        <div v-for="item in data" :key="item.id" class="menu-item">
          <div class="menu-item">
            <router-link
              @click="closeNav"
              :to="{
                name: 'Article',
                params: { id: item.id },
              }"
            >
              {{ item.id }}
            </router-link>
          </div>
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
import json from '/data.json';

export default {
  name: 'Dropdown',
  // inject: ["$mdFiles"],
  props: ['title'],
  data() {
    return {
      isOpen: false,
      data: json,
    };
  },
  methods: {
    closeNav() {
      this.$emit('close'); // emit close event to navigation component
    },
  },
  created() {
    // console.log(this.$mdFiles.keys());
  },
};
</script>

<style></style>
