<template>
  <header id="site-header">
    <h1>
      <router-link to="/">MFD</router-link>
    </h1>
    <i v-on:click="toggleNav" class="clickable icofont-burger icofont-2x"></i>
  </header>
  <Navigation v-if="navVisible" @close="toggleNav" id="site-navigation" />
</template>

<script>
import Navigation from '@/components/Navigation.vue';

export default {
  data() {
    return {
      navVisible: false,
    };
  },
  methods: {
    toggleNav() {
      this.navVisible = !this.navVisible;
    },
  },

  components: {
    Navigation,
  },
};
</script>
