<template>
  <nav>
    <ul>
      <!-- <li v-for="route in routes" v-bind:key="route.path">
        <router-link @click="closeNav" :to="route.path"
          >{{ route.name }}
        </router-link>
      </li> -->
      <li>
        <router-link to="/" @click="closeNav">Home</router-link>
      </li>
      <!-- <li><Dropdown @close="closeNav" :title="title"></Dropdown></li> -->
    </ul>
  </nav>
</template>

<script>
//import Dropdown from "@/components/Dropdown";
export default {
  name: 'navigation',
  components: {
    //Dropdown,
  },
  data() {
    return {
      routes: [],
      title: 'Opgaver',
    };
  },
  methods: {
    closeNav() {
      this.$emit('close'); // emit close event to Header component
    },
  },

  beforeMount() {
    const routes = this.$router.getRoutes();
    for (let i in routes) {
      this.routes.push({
        path: routes[i].path,
        name: routes[i].name,
      });
    }
    // console.log(routes);
  },
  created() {
    // console.log(this.$router.getRoutes());
  },
};
</script>
