@use '_variables.scss' as v;

.card {
  padding: 2rem 1.5rem;

  &__title {
    font-size: v.$text-size-H2;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  &__body {
    font-size: v.$text-size-p;
  }

  &__buttons {
    display: flex;
    justify-content: flex-start;
    gap: 1em;
  }

  &__button {
    margin: 1em 0;
    border: none;
    padding: 1em 2em;
    font-size: v.$text-size-p;
    font-weight: 600;
    cursor: pointer;
  }
}

.card--dark {
  background: v.$color-dark;
  color: v.$color-light;
}

.card--light {
  background: v.$color-light;
  color: v.$color-dark;
}

.button--dark {
  background: v.$color-dark;
  color: v.$color-light;
}

.button--cta {
  background: v.$color-cta;
}
