* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

body {
  font-family: sans-serif;
  max-width: 600px;
  min-width: 330px;
}

.header {
  background-color: #ffee00;
  display: flex;
  justify-content: center;
}
.header__title {
  font-size: 3em;
  margin: 1em;
}

.card {
  padding: 2rem 1.5rem;
}
.card__title {
  font-size: 2em;
  font-weight: 700;
  margin-bottom: 1rem;
}
.card__body {
  font-size: 0.9em;
}
.card__buttons {
  display: flex;
  justify-content: flex-start;
  gap: 1em;
}
.card__button {
  margin: 1em 0;
  border: none;
  padding: 1em 2em;
  font-size: 0.9em;
  font-weight: 600;
  cursor: pointer;
}

.card--dark {
  background: black;
  color: #f8f8f8;
}

.card--light {
  background: #f8f8f8;
  color: black;
}

.button--dark {
  color: #f8f8f8;
  background: black;
}

.button--cta {
  background: #ffee00;
}

/*# sourceMappingURL=style.css.map */
