@use '_variables.scss' as v;

.header {
    background-color: v.$color-cta;
    display: flex;
    justify-content: center;

    &__title {
        font-size: v.$text-size-H1;
        margin: 1em;
    }
}