<template>
  <div class="wrapper">
    <header class="header">
      <h1 class="header__title">Sass is useful</h1>
    </header>

    <section class="card card--dark">
      <h1 class="card__title">Section One</h1>
      <p class="card__body">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo nostrum
        minima nemo id excepturi amet quos labore velit, harum et doloremque
        odit facere cum, earum architecto doloribus sequi porro soluta.
      </p>
      <div class="card__buttons">
        <button class="card__button button--cta">Contact Me</button>
        <button class="card__button button--cta">About me</button>
      </div>
    </section>

    <section class="card card--light">
      <h1 class="card__title">Section Two</h1>
      <p class="card__body">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo nostrum
        minima nemo id excepturi amet quos labore velit, harum et doloremque
        odit facere cum, earum architecto doloribus sequi porro soluta.
      </p>
      <div class="card__buttons">
        <button class="card__button button--dark">Contact Me</button>
        <button class="card__button button--dark">About me</button>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style lang="scss">
@import './assets/scss/app.scss';
</style>
