@use '_variables.scss' as v;

.cards {
  // display: flex;
  // flex-direction: column;
  // gap: 1em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 1em;
}
