@use '_variables.scss' as v;

.card {
  background-color: v.$color-site-header;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;

  * {
    color: v.$color-text-light;
  }

  & > a {
    text-decoration: none;
  }

  p {
    width: 80%;
  }

  router-link {
    color: v.$color-background;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
  }
}

.card-header {
  padding: 0.5em 10px;
}

.card-description {
  padding: 0.5em 10px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.icon-container {
  .icon-list {
    padding: 0;
  }
  ul {
    display: flex;
    gap: 1em;
    justify-content: flex-end;
    list-style: none;
    padding: 1em 1em;
  }

  .icon-holder {
    width: 2.5rem;
    height: 2.5rem;
  }

  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    width: 100%;
    height: 100%;
    padding: 0.75em 0.75em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: v.$color-accent;
    color: v.$color-background;
  }
}
