@use '_variables.scss' as v;

nav .menu-item svg {
  width: 10px;
  margin-left: 10px;
}
nav .menu-item .sub-menu {
  position: absolute;
  background-color: v.$color-background;
  top: calc(100%);
  //left: 50%;
  //transform: translateX(-50%);
  width: max-content;
  border-radius: 0px 0px 16px 16px;

  a {
    color: v.$color-site-header;
  }

  .menu-header {
    a {
      pointer-events: none;
    }
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: all 0.5s ease-out;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
.sub-menu {
  cursor: pointer;
}
