@use '_variables.scss' as v;

#site-navigation {
  background: v.$color-background;
  box-shadow: 0 5px 10px rgba(#000, 0.25);
  left: 0;
  position: fixed;
  right: 0;
  top: v.$header-height;
  width: 100%;

  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
  }

  li {
    border-top: 1px solid #ccc;

    &:first-child {
      border-top: none;
    }
  }

  a {
    align-items: center;
    color: v.$color-site-header;
    display: flex;
    padding: 1rem;
    height: 2.5rem;
    text-decoration: none;
  }
}
