@use '_variables.scss' as v;

.pill {
  background-color: v.$color-background;
  display: flex;
  flex-direction: row;
  max-width: 100%;
  flex-wrap: wrap;
  justify-content: flex-end;

  ul {
    list-style-type: none;
    white-space: nowrap;
  }

  li {
    color: v.$color-background;
    background-color: v.$color-accent;
    padding: 5px 10px;
    border-radius: 0.4em;
    font-size: 0.7em;
    font-weight: bold;
  }
}
