@use '_variables.scss' as v;

#site-header {
  align-items: center;
  background-color: v.$color-site-header;
  box-shadow: 0 5px 10px rgba(#000, 0.25);
  display: flex;
  height: v.$header-height;
  justify-content: space-between;
  left: 0;
  padding: 0 1rem;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;

  * {
    color: v.$color-text-light;
    font-weight: 400;
  }

  a {
    text-decoration: none;
  }

  .clickable {
    cursor: pointer;
    color: v.$color-accent;
  }
}
